@import url('../global.css');

#background { background: url(../../img/swtor/header-bg.jpg) center center; -webkit-background-size:auto 100% }

#logoimage {
	content: url('../../img/swtor/header-logo.png');
	width:250px;
	margin-top:-10px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}


input[type=button], input[type=submit], button {
	background: -webkit-linear-gradient(top, rgba(117, 61, 10, 1), rgb(69, 29, 8));
	
}

input[type=file]::-webkit-file-upload-button
{
	background: -webkit-linear-gradient(top, rgb(99, 49, 16), rgb(69, 29, 8));
}

input[type=button]:hover:enabled, input[type=submit]:enabled:hover, input[type=file]:hover::-webkit-file-upload-button, button:hover
{
	background: -webkit-linear-gradient(top, rgb(129, 59, 22), rgb(99, 49, 16));
}

.bar-item:hover { background-color: rgb(99, 49, 16); color: white; }


input[type=checkbox] + label {
	border:1px solid black;
}

input[type=checkbox] + label:after {
	background: #aaa;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
}

input[type=checkbox] + label:before {
	background: white;
	box-shadow: 0 0 2px rgba(0,0,0,0.5), inset 0 -18px 15px -10px rgba(0,0,0,0.05);
}

input[type=checkbox] + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked + label:after {
	background: rgb(99, 49, 16);
}

.progress-interior { background-color: rgb(102, 153, 204); position:absolute;left:0;top:0;width:0;bottom:0;
	background: -webkit-linear-gradient(top, rgb(99, 49, 16), rgb(69, 29, 8)) !important;
}

.region-tab {
	display:inline-block;
	vertical-align:middle;
	border:1px solid #555555;
	color: white;
	background-color:black;
	margin:2px;
	padding:3px 6px;
	cursor:pointer
}

.region-tab:hover, .region-tab[selected="true"] {
	background-color: rgb(99, 49, 16); color: white;
}

.region-tab[selected="true"] { outline: 2px solid white; }

button.bnet-char-tab { border:1px solid #a0a0a0 !important; background:black !important; }
.bnet-char-tab:hover, .bnet-char-tab[selected=true] { background-color: rgb(99, 49, 16) !important; color: white !important }
.bnet-char-tab[selected=true] { outline:2px solid white }

#regions { display: none!important }
