@import url('../global.css');

@font-face {
	font-family: 'EsoFontStyle';
	src: url('../esofontregular-webfont.eot');
	src: url('../esofontregular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../esofontregular-webfont.woff2') format('woff2'),
		url('../esofontregular-webfont.woff') format('woff'),
		url('../esofontregular-webfont.ttf') format('truetype'),
		url('../esofontregular-webfont.svg#esofontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyle';
	src: url('../esofontbold-webfont.eot');
	src: url('../esofontbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../esofontbold-webfont.woff2') format('woff2'),
		url('../esofontbold-webfont.woff') format('woff'),
		url('../esofontbold-webfont.ttf') format('truetype'),
		url('../esofontbold-webfont.svg#esofontbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyleAlt';
	src: url('../esofontregular-webfont.eot');
	src: url('../esofontregular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../esofontregular-webfont.woff2') format('woff2'),
		url('../esofontregular-webfont.woff') format('woff'),
		url('../esofontregular-webfont.ttf') format('truetype'),
		url('../esofontregular-webfont.svg#esofontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyleAlt';
	src: url('../esofontbold-webfont.eot');
	src: url('../esofontbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../esofontbold-webfont.woff2') format('woff2'),
		url('../esofontbold-webfont.woff') format('woff'),
		url('../esofontbold-webfont.ttf') format('truetype'),
		url('../esofontbold-webfont.svg#esofontbold') format('svg');
	font-weight: bold;
	font-style: normal;
}



@font-face {
    font-family: 'ralewayregular';
    src: url('../Raleway-Regular-webfont.eot');
    src: url('../Raleway-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Raleway-Regular-webfont.woff') format('woff'),
         url('../Raleway-Regular-webfont.ttf') format('truetype'),
         url('../Raleway-Regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { font-family: EsoFontStyle !important; }

#logoimage {
	content: url('../../img/eso/header-logo.png');
	width:60%;
	margin-left:40px;
}

#logo-font {
	font-family: ESOFontStyleAlt; font-size:64px; position:relative;text-align:left;width:450px;margin:auto; padding-left:60px; cursor:pointer; user-select: none;
}

#background { background: url(../../img/eso/header-bg.jpg) 0 center; background-size: auto 100%; }

input[type=button], input[type=submit], button {
	font-family: EsoFontStyleAlt;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(177, 171, 138)), to(rgb(127, 121, 88)));
	background: -webkit-linear-gradient(top, rgb(177, 171, 138), rgb(127, 121, 88));
	background: -moz-linear-gradient(top, rgb(177, 171, 138), rgb(127, 121, 88));
	background: -o-linear-gradient(top, rgb(177, 171, 138), rgb(127, 121, 88));
	background: -ms-linear-gradient(top, rgb(177, 171, 138), rgb(127, 121, 88));
	background: linear-gradient(top, rgb(177, 171, 138), rgb(127, 121, 88));
}

input[type=file]::-webkit-file-upload-button
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(177, 171, 138)), to(rgb(127, 121, 88)));
	background: -webkit-linear-gradient(top, rgb(177, 171, 138), rgb(127, 121, 88));
	background: -moz-linear-gradient(top, rgb(177, 171, 138), rgb(127, 121, 88));
	background: -o-linear-gradient(top, rgb(177, 171, 138), rgb(127, 121, 88));
	background: -ms-linear-gradient(top, rgb(177, 171, 138), rgb(127, 121, 88));
	background: linear-gradient(top, rgb(177, 171, 138), rgb(127, 121, 88));
}

input[type=button]:hover:enabled, input[type=submit]:enabled:hover, input[type=file]:hover::-webkit-file-upload-button, button:hover
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(197, 191, 158)), to(rgb(147, 141, 108)));
	background: -webkit-linear-gradient(top, rgb(197, 191, 158), rgb(147, 141, 108));
	background: -moz-linear-gradient(top, rgb(197, 191, 158), rgb(147, 141, 108));
	background: -o-linear-gradient(top, rgb(197, 191, 158), rgb(147, 141, 108));
	background: -ms-linear-gradient(top, rgb(197, 191, 158), rgb(147, 141, 108));
	background: linear-gradient(top, rgb(197, 191, 158), rgb(147, 141, 108));
}

.bar-item:hover { background-color: rgb(147, 141, 108); color: white; }


input[type=checkbox] + label {
	border:1px solid black;
}

input[type=checkbox] + label:after {
	background: #aaa;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
}

input[type=checkbox] + label:before {
	background: white;
	box-shadow: 0 0 2px rgba(0,0,0,0.5), inset 0 -18px 15px -10px rgba(0,0,0,0.05);
}

input[type=checkbox] + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked + label:after {
	background: rgb(147, 141, 108);
}

.progress-interior { background-color: rgb(102, 153, 204); position:absolute;left:0;top:0;width:0;bottom:0;
	background-color: rgb(147, 141, 108) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(197, 191, 158)), to(rgb(147, 141, 108))) !important;
	background: -webkit-linear-gradient(top, rgb(197, 191, 158), rgb(147, 141, 108)) !important;
	background: linear-gradient(top, rgb(197, 191, 158), rgb(147, 141, 108));
}

.region-tab {
	display:inline-block;
	vertical-align:middle;
	border:1px solid #555555;
	color: white;
	background-color:black;
	margin:2px;
	padding:3px 6px;
	cursor:pointer
}

.region-tab:hover, .region-tab[selected="true"] {
	background-color: rgb(147, 141, 108); color: white;
}

.region-tab[selected="true"] { outline: 2px solid white; }

button.bnet-char-tab { border:1px solid #a0a0a0 !important; background:black !important; }
.bnet-char-tab:hover, .bnet-char-tab[selected=true] { background-color: rgb(147, 141, 108) !important; color: white !important }
.bnet-char-tab[selected=true] { outline:2px solid white }

#regions { display: none!important }
